@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DMSans;
  src: url("@assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("opentype");
}
@font-face {
  font-family: AzeretMono;
  src: url("@assets/fonts/AzeretMono-VariableFont_wght.ttf") format("opentype");
}

* {
  font-family: inherit;
  font-size: 1rem;
}
