@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DMSans;
  src: url("fonts/DMSans-VariableFont_opsz,wght.ttf") format("opentype");
}
@font-face {
  font-family: AzeretMono;
  src: url("fonts/AzeretMono-VariableFont_wght.ttf") format("opentype");
}

* {
  font-family: inherit;
}

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: rgb(245, 239, 239);
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.3);
    border-radius: 20px;
  }

  .custom-slider {
    -webkit-appearance: none;
    appearance: none;
    background-color: #1f8505;
    border-radius: 20px;
    height: 4px;
    cursor: pointer;
  }

  .custom-slider:hover {
    opacity: 90%;
  }

  .custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 20px;
  }
}
